In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
-List popular languages for Data Science:
  * Python
  * R
  * Scala
  * Julia
- Common libraries used in data science:
  * NumPy
  * Pandas
  * Matplotlib
- Data Science Open Source Tools:
  * Jupyter Notebooks
  * RStudio
  * Spyder

**Objectives:**
-List popular languages for Data Science:
  * Python
  * R
  * Scala
  * Julia
- Common libraries used in data science:
  * NumPy
  * Pandas
  * Matplotlib
- Data Science Open Source Tools:
  * Jupyter Notebooks
  * RStudio
  * Spyder

Some of the popular languages that Data Scientists use are:
1.Python
2.R
3.SQL
4.Julia
5.Scala etc.

Some of the popular languages that Data Scientists use are:
1.Python
2.R
3.SQL
4.Julia
5.Scala etc.

Some of the commonly used libraries used by Data Scientists include:
1.NumPy
2.Pandas
3.Matplotlib
4.PyTorch
5.Keras
6.Tensorflow etc.

Some of the commonly used libraries used by Data Scientists include:
1.NumPy
2.Pandas
3.Matplotlib
4.PyTorch
5.Keras
6.Tensorflow etc.

|Data Science Tools:|
|-------------------|
|Jupyter Notebook   |
|RStidio            |
|Spyder             |

|Data Science Tools:|
|-------------------|
|Jupyter Notebook   |
|RStidio            |
|Spyder             |

###Below are a few examples of evaluating arithmetic expressions in Python.

###Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
a = 200
b = a/60
b

3.3333333333333335

## Author
Pradestha Pattnaik

## Author
Pradestha Pattnaik